pandas
numpy
scikit-learn
tensorflow
keras
torch
transformers
datasets
accelerate
sentencepiece
tokenizers

nltk
emoji
regex
arabic-reshaper
python-bidi

matplotlib
seaborn

openpyxl
xlsxwriter

joblib
pickle-mixin

tqdm

scipy

requests

protobuf

huggingface-hub
safetensors

